################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CleanArch/.vs/CleanArch/v16
/CleanArch/CleanArch.Domain/bin/Debug/netcoreapp3.1
/CleanArch/CleanArch.Domain/obj
